body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    overflow: hidden;
}

header {
    text-align: center;
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    /* display: inline-block; */
    margin: 0px 40px;
}

nav ul li a {
    color: rgba(255, 255, 255, 0.568);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    color: rgba(255, 255, 255, 0.861);
}

nav ul li a.active {
    color: rgba(255, 255, 255, 0.861);
}
    

main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -70%);
    text-align: left;
    width: 50%; /* Adjust the width as needed */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-height: 80vh; /* Set maximum height for main content area */
    
}

p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.568);
}

span a{
    font-size: 90%;
    color: rgba(176, 168, 214, 0.815);
    text-decoration: none;
    margin-right: 30px;
}

span a:hover{
    color: rgba(255, 255, 255, 0.861);
}

.content {
    /* text-align: center; */
    color: white;
    padding: 20px;
}

h1 {
    font-size: 60px;
    max-width: 18vw;
    margin-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center; /* Center the content horizontally */
    background-color: rgba(0, 0, 0, 0.1); /* Adjust the background color */
}

.social-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-links li {
    display: inline-block;
    margin-right: 20px; /* Add spacing between social links */
}

.social-links li:last-child {
    margin-right: 0; /* Remove right margin for the last social link */
}

.social-links a {
    text-decoration: none;
    color: #333; /* Set the color of the social links */
}

.social-links a img{
    height: 30px;
}

footer p{
    margin: 8px;
}



/* Floating dots animation */
/* Update the dot size */
.dot {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

::-webkit-scrollbar {
    display: none;
}


/* ------------------------------------ Project page ------------------------- */

.project {
    border: 2px solid #333;
    border-radius: 15px;
    padding: 25px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
}
